{% extends "users/base_users.html" %}
{% load staticfiles %}
{% block title %}Signup{% endblock title %}
{% block content %}
<h2 class="users-title">Signup</h2>
<form action="{% url "users:signup" %}" method="POST">
{% csrf_token %}
{% for field in form %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {% if form.errors %}
    {% for error in field.errors %}
      <input type="hidden" class="message" value="{{ error }}">
      <input type="hidden" class="message-tags" value="danger">
    {% endfor %}
  {% endif %}
{% endfor %}
<input type="submit" value="Signup" />
</form>
{% endblock content %}
