{% extends "users/base_users.html" %}
{% load staticfiles %}
{% block title %}Signin{% endblock title %}
{% block content %}
<h2 class="users-title">Signin</h2>
<form action="{% url "users:signin" %}" method="POST">
{% csrf_token %}
<input type="hidden" name="next" value={{ request.GET.next }}>
{% for field in form %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
{% endfor %}
{% for _, errors in form.errors.items %} 
  {% for error in errors %}
    <input type="hidden" class="message" value="{{ error }}">
    <input type="hidden" class="message-tags" value="danger">
  {% endfor %}
{% endfor %}
<input type="submit" value="Signin" />
</form>
{% endblock content %}
